<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact Detail</h2>
      <% if (!contact) { %>
      <div class="alert alert-danger" role="alert">Data kontak tidak ada ! <a href="/contact" class="alert-link">&laquo; Kembali ke daftar kontak</a>. Terima Kasih.</div>
      <% } else { %>
      <div class="card bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title mb-4"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-telephone-plus"></i>  <%= contact.nohp %></h6>
          <p class="card-text"><i class="bi bi-envelope"></i>  <%= contact.email %></p>
          <a href="/contact" class="btn btn-primary">&laquo; Kembali</a>
        </div>
      </div>
      <% } %> 
    </div>
  </div>
</div>
